{
  "presets":[["@babel/preset-env",{
    "targets": {
      "chrome": "67",
    },
    "useBuiltIns":"usage",
    "corejs":2
  }]],
  "plugins": ["@babel/plugin-syntax-dynamic-import"]
}

// {
//   "presets": [["@babel/preset-env", {
//     "useBuiltIns": "usage"
//   }]],
//   "plugins": ["@/bable/plugin-syntax-dynamic-import"]
// }